.container{
    width: 100%;
    height: 355px;
    background-color: #F4F5F9;


}
.carrousel{
    display: flex;
    justify-content: space-evenly;
    column-gap: 42px;
  

}
.categorie{
    padding: 2rem;
    width: 213px;
    height: 259px;
    text-align: center;
    border: 1px solid rgb(0, 0, 0 , 0.1);
    background-color: #fff;
    margin: 39px 21px;
}
.image img{
    width: 100px;
    height: 100px;
}
.buttoms{
    display: none;
}

@media screen and (max-width: 1400px) {
    .carrousel{
        display: -webkit-box;
        overflow-x: auto;
        scroll-behavior: smooth;
    }
    
    .buttoms{
        display:flex;


    }
    .buttoms button{
        padding: 1rem;
        background-color: #2190C7;
        border-radius: 100%;
    }

    
}
