.container{
    width: 100%;
    height: 355px;
    background-color: #F4F5F9;


}
.carrousel{
    display: flex;
    justify-content: space-evenly;
    column-gap: 42px;
  

}
.categorie{
    padding: 2rem;
    width: 213px;
    height: 259px;
    text-align: center;
    border: 1px solid rgb(0, 0, 0 , 0.1);
    background-color: #fff;
    margin: 39px 21px;
   
}
.image img{
    width: 100px;
    height: 100px;
}

.buttons{
    display:none;
}
@media screen and (max-width: 1400px) {
    
    .container .carrousel::-webkit-scrollbar{
        display: none;
    }
    
    .carrousel{
        display: -webkit-box;
        overflow-x: auto;
        scroll-snap-type: x mandatory;
        /*scroll-snap-align: start;*/
        /*scroll-behavior: smooth;*/
        /*scroll-snap-type: x mandatory;*/
    }
   
   


    .buttons{
        display:flex;
        justify-content: space-between;
        position: relative;
        bottom: 200px;


    }
    .buttons button{
        padding: 1rem;
        border-radius: 100%;
        background-color:rgb(196,193,193, 0.2);
        margin: 1rem;
        color: rgb(33,144,199,0.7);
        border-style: none;
    }
   
}

@media screen and (max-width: 375px){
    .categorie{
        padding: 1rem;
        width: 247px;
        height: 279px;
        margin: 39px 46px;
 
    }
   
 }

@media screen and (max-width: 326px){
   .categorie{
        padding: 1rem;
        width: 274px;
        height: 299px;
        margin: 39px 8px;

   }
}