.container{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    height: 355px;
    background-color: #F4F5F9;
    column-gap: 42px;
  

}
.categorie{
    padding: 2rem;
    width: 213px;
    height: 259px;
    text-align: center;
    border: 1px solid rgb(0, 0, 0 , 0.1);
    background-color: #fff;
    margin: 39px 21px;
}
.image {
    display: block;
}
.image img{
    width: 100px;
    height: 100px;
}
@media screen and (max-width: 1400px) {
    .container{
        display: -webkit-inline-box;
        overflow-x: auto;
        scroll-behavior: smooth;
    }

    
}
