
/*container navegação */
.nav_container{
    display: flex;
    justify-content: flex-end;
    background-color: #2190C7;
}

/*Estilo <ul>*/
.nav_container ul{
    display: flex;
    flex-direction: row;
    list-style: none;
    color: #fff;
    font-family: 'Poppins';
    
}

/*Estilo <li>*/
.nav_container li{
    padding: 0.8rem;
}

.nav_container li svg{
   cursor: pointer;
}

/*Estilo <span> notificações*/
.nav_container span{
    position: absolute;
    top: 22px;
    right: 50px;
    background-color: #fff;
    color:#2190C7;
    border-radius: 100%;
    font-size:0.6rem ;
    font-weight:500;
    width: 13px;
    height: 13px;
    text-align: center;
}
